<h1>
  Hello Readers!
</h1>

<div *ngFor="let item of products">
<div class="title">{{item.title}}</div>
<div class="price">{{item.price}}</div>
<div class="desc">{{item.description}}</div>
<hr>
</div>

<button (click)="testfunction()">
  Click Me
</button>
<br><br>

<input type="text" [(ngModel)] = "num1"><br>
times<br>
<input type="text" [(ngModel)] = "num2"><br>
<button (click)="check()">Multiply</button>
<hr><hr><hr>
<input type="text" [(ngModel)] = "searchkey"><br>
<button (click)="showresults()">Search</button>
<br>
<div *ngIf="searchkey">
<div *ngFor="let item of filtereddata">
  <div class="title">{{item.title}}</div>
</div>
</div>
<div *ngIf="!searchkey">
  No results!
  </div>


<router-outlet></router-outlet>
